name: Release

concurrency:
  group: "release"
  cancel-in-progress: true

on:
  workflow_dispatch: {}
  push:
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: corepack enable
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "pnpm"
      - name: Export current version
        run: echo "SNACK_TIME_VERSION=v$(jq -r .version package.json)" > $GITHUB_ENV
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - run: >-
          cd dist && \
            zip -r ../snack_time.zip ./*
      - name: Create Release
        id: create_release
        uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e # v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.SNACK_TIME_VERSION }}
          release_name: Release ${{ env.SNACK_TIME_VERSION }}
          draft: false
          prerelease: false
      - name: Release
        uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 # v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: snack_time.zip
          asset_name: snack-time-${{ env.SNACK_TIME_VERSION }}.zip
          asset_content_type: application/zip
